
/* reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* keinen voreingestellten rand */
* {
	margin: 0;
padding: 0;
}
body {
	/* damit der text leserlicher ist  */
	
	line-height: 1.5;
}
html{
	scroll-behavior: smooth;
}	


img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	
	
}
/*  damit verschiedene schriftarten keine automatischen schrifgrößen etc. haben */

input,
button,
textarea,
select {
	font: inherit;
}
/* damit der text nicht ausbricht */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/* base style */

body{

	color: #3cb371; 
	background-color: #98fb98;
  margin: 0 auto;
	 padding: 24px;
	line-break: normal;
	font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
font-weight: normal; 
  max-width: 60ch
}

h1,h2,h3,h4,h5,h6{
	text-align: center; 
	color: #2f4f4f; 
	padding-top: 16px;
	text-decoration: overline underline; 	 
}
p{
	display: flex;
	justify-content: center; 
	background-color:#172727;
	color: #98fb98;
	padding-bottom: 16px;
	padding:16px;
	text-align: center; 
	font-weight: 500;
	border-radius: 10px;
	overflow: hidden
}
figcaption{
	margin-bottom: 6px;
	padding: 6px;
	background-color: #172727;
	color:#98fb98;
	text-align: center;
	border-bottom-right-radius:6px;
	border-bottom-left-radius: 6px;
}
.interaction{
	background-color:#172727;
	padding:16px;
}
.interaction:hover{
	background-color: #2f4f4f;
}
.algorithm{
	margin: 6px;

}

.goback{
	position:fixed;
	width:50px;
	height:50px;
	top:0;
	left: 0px;
	display:flex;
	align-items: center;
	justify-content:center;
	text-decoration: none;
border: 2px solid #98fb98;
border-radius: 50%;
color:#98fb98;
background-color:#172727
}
.goback:hover{
	color:#98fb98;
	text-decoration:none;
}
.gotop{
	position:fixed;
	width:50px;
	height:50px;
	bottom:0px; 
	right: 1px; 
	display: flex; 
align-items: center;
	justify-content: center;
	font-weight: 900;
	text-decoration: none;
	background-color:#172727;
	color:#98fb98;
	border: 2px solid #98fb98;
border-radius: 50%;

}
.gotop:hover{
	color:#98fb98;
	text-decoration:none; 

}
.navbar ul {
	list-style-type: none;
	margin: 6px; 
	padding: 6px;
	text-decoration: none;
	background-color:#172727 ;
	border-radius: 10px;
  
}
.navbar a{
	color: #98fb98; 
	text-decoration: none; 
	padding: 15px; 
	display: block; 
	text-align: center; 
}
.navbar a:hover{
	background-color:#3a4040 ;
	border-radius: 10px;

}
a{
	text-decoration: none;
	text-align: center;
	margin: 16px;
	padding: 16px; 
		display: flex;
		justify-content: center; 
		color: #172727; 
	border-radius: 6px;
}
	

a:hover
{ color: #dc143c;
	text-decoration: underline;

}

footer{
	padding: 10px   ;
color: #2e8b57;
 text-align: center;
   font-size: small;
}
