
/* reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* keinen voreingestellten rand */
* {
	margin: 0;
padding: 0;
}
body {
	/* damit der text leserlicher ist  */
	
	line-height: 1.5;
}
	

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*  damit verschiedene schriftarten keine automatischen schrifgrößen etc. haben */

input,
button,
textarea,
select {
	font: inherit;
}
/* damit der text nicht ausbricht */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
