/* base style */

body{
	color: mediumseagreen; 
	background-color: palegreen;
	padding: 24px; 
	line-break: normal;
	font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
font-weight: normal; 
}
h1, h2, h3, h4, h5, h6 {
	
	color: darkslategray; 
	padding: 16px;
	text-decoration: overline underline; 	 
}
p{
	padding: 16px;
}
ul, ol{
	
	margin: 16px; 
		padding-right: 16px;
	padding-left: 16px; 
	text-decoration: underline;
}
a:link{
	color: seagreen;
	text-decoration: none
		
}
a:visited{
	color: darkslategray; 
}
a:hover
{ color: crimson;
	text-decoration: underline;

}
img{
	height: auto;
	width: auto;		
}
	table{ 
color: darkslategray;
		padding: 16px; 
background-color: mediumseagreen;  }
 
blockquote{
	background-color: darkslategray; 
	
}
hr{
color: seagreen;
}
